|minhhai
<a href="#/contacts/new" class="btn btn-primary btn-sm add-new">New contact</a>
<table ng-table="tableParams" show-filter="true" class="table table-condensed table-bordered table-striped">
  <tbody>
    <tr ng-repeat="contact in $data">
      <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">
        {{contact.name}}
      </td>
      <td data-title="'Email'" filter="{ 'email': 'text' }" sortable="'email'">
        {{contact.email}}
      </td>
      <td data-title="'Phone number'" filter="{ 'phone_number': 'text' }" sortable="'phone_number'">
        {{contact.phone_number}}
      </td>
      <td>
        <a href="#/contacts/{{contact.id}}/edit" class="btn btn-warning btn-sm">Edit</a>
        <a href="" class="btn btn-danger btn-sm" ng-click="destroy(contact.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>