<p><%= I18n.t('from')%>: {{email.sender_email}}</p>
<p><%= I18n.t('to')%>: {{email.receiver_email}}</p>
<h5>{{email.subject}}</h5>
<p>{{email.content}}</p>
<div ng-repeat="attachment in email.attachments">
  <a href="{{attachment.attach_file_file_name}}" target="_blank">{{attachment.attach_file_file_name}}</a>
</div>