<h2>Outbox</h2>
<table class="table table-bordered">
  <tr>
    <th>Reciever</th>
    <th>Subject</th>
    <th>Timer</th>
  </tr>
  <tr>
    <th><input type="text" class="form-control" placeholder="search by receiver email" ng-model="search.receiver_email"></th>
    <th><input type="text" class="form-control" placeholder="search by subject" ng-model="search.subject"></th>
    <th></th>
  </tr>
  <tr ng-repeat="email in emails | filter:{receiver_email: search.receiver_email, subject: search.subject}">
    <td>{{email.receiver_email}}</td>
    <td>{{email.subject}}</td>
    <td>{{email.created_at}}</td>
  </tr>
</table>